# <img src="https://escudouchile.files.wordpress.com/2012/07/logo-economia-u-de-chile.jpg" height="250" /> 

# Introducción a Python para las Finanzas

## _&gt; Secuencias & Estructuras de Datos_

Gabriel E. Cabrera, M.Sc.<br>
<span style = 'font-size: 50%;'>Universidad de Chile<br>
Magister en Finanzas - Full Time</span>

*Otoño 2021*

> Computers are useless. They can only give answers. 
<br> <div align="right">— __Pablo Picasso__ </div>

# Estructuras de Datos Básicas

Como regla general, las estructuras de datos son objetos que contiene otros objetos (e.g escalares) como secuencias. En Python se tiene las siguientes estructuras de datos *built-in*:

| Estructura           | Ejemplo                  | Brackets | índice | Elementos Repetidos | Mutable | Operaciones de Conjuntos |
|:---------------------|:------------------------|:--------:|:------:|:-------------------:|:-------:|:------------------------:|
| Lista (`list`)       | A = [1,2,'hola','mundo'] | [ ]      | Sí     | Sí                  | Sí      | No                       |
| Tupla (`tuple`)      | B = (3,3,3,5)            | ()       | Sí     | Sí                  | No      | No                       |
| Diccionario (`dict`) | D = {'Año':2001,'Mes':3} | {}       | Sí     | Sí                  | Sí      | No                       |
| Conjunto (`set`)     | C = {6,7,8}              | {}       | No     | No                  | No      | Sí                       |

## Lista (`list`)

1. Construya una lista que contenga el nombre de las siguientes empresas tecnológicas: 'Facebook', 'Apple', 'Amazon' y 'Netflix'.

    a. Muestre el primer y último elemento de la lista creada.

    b. Muestre el primer y último elemento de la lista creada usando índices negativos.

    c. Agregue "Nvidia" al ínicio de la lista. ¿Como lo agrego en la cuarta posición?

    d. Agregue "Google" al final de la lista.

    e. ¿Cuantos elementos tiene la lista hasta ahora?

    f. En que posición se ubica la empresa 'Apple'.

    g. Elimine "Nvidia" y "Netflix" de la lista.
    
    h. Ordene de mayor a menor la lista según el número de caracteres de cada elemento en la lista.

2. Construya las siguientes listas:

    * parte_a = `[[0, 'a'], [1, 'b']]`

    * parte_b = `[[2, 'c'], [3, 'd']]`

    a. Concatene o combine ambas listas. ¿En que se diferencia concatenar con `+` y `extend`?

    b. Muestre el segundo elemento de la lista generada en (a).

3. Genere lista que contenga desde el 1 hasta el 10.

    a. Ordene la lista de mayor a menor. ¿En que se diferencia ordenar con `sort` y `sorted`?

    b. Seleccione los valores cuyo índice sea par.

## Tupla (`tuple`)

Se creará una tupla (`tuple`) si se utiliza coma (,) para separar valores cuando se asigna a una única variable:

In [ ]:
tupla = 1, 2, 'Facebook', 'Amazon'
tupla

(1, 2, 'Facebook', 'Amazon')

Al igual que la listas, se pueden crear tuplas (`tuple`) anidadas:

In [ ]:
tupla_anidada1 = (1,2), ('Facebook', 'Amazon')
tupla_anidada1

((1, 2), ('reuters', 'bloomberg'))

Que incluso pueden almacenar listas (`list`):

In [ ]:
tupla_anidada2 = (1,2), ('Facebook', 'Amazon'), ['Apple', 'Netflix']
tupla_anidada2

((1, 2), ('reuters', 'bloomberg'), ['Amazon', 'Apple'])

Solo se puede modificar un elemento de la tupla (`tuple`) que permita modificación, por ejemplo la lista (`list`):

In [ ]:
tupla_anidada2[2].append('Google')
tupla_anidada2

((1, 2), ('reuters', 'bloomberg'), ['Amazon', 'Apple', 'Facebook'])

Permite concatenación mediante el signo `+`:

In [ ]:
('Facebook', 'Amazon') + ('Apple', 'Netflix')

('Facebook', 'Amazon', 'Apple', 'Netflix')

E incluso multiplicación de elementos usando `*`:

In [ ]:
('Facebook', 'Amazon') * 3

('Facebook', 'Amazon', 'Facebook', 'Amazon', 'Facebook', 'Amazon')

Para forzar una lista (`list`) a que sea tupla (`tuple`) basta con:

In [ ]:
tuple([1, 2, 3, 4])

(1, 2, 3, 4)

## Diccionario (`dict`)

Los diccionarios (`dict`) son estructuras de datos mutables, se caracterizan con el uso de llave-valor (*key-value*).

In [ ]:
dict1 = {'Name' : 'Janet Yellen', 
         'Country' : 'United States',
         'Profession' : ' United States secretary of the treasury',
         'Age' : 74}
        
type(dict1)

dict

Para acceder a los valores asociado a la llave, basta con usar `[ ]` y escribir la el nombre de la llave:

In [ ]:
print(dict1['Name'], dict1['Age'])

Janet 74

Hereda los métodos `.keys()` para accader al nombre de las llaves:

In [ ]:
dict1.keys() # keys (llaves)

dict_keys(['Name', 'Country', 'Profession', 'Age'])

Hereda los métodos `.values()` para accader a los valores asociados a las llaves:

In [ ]:
dict1.values() # valores

dict_values(['Janet Yellen', 'United States', ' United States secretary of the treasury', 74])

Mediante `.items()` se accede a la llave (*key*) y los valores (*values*):

In [ ]:
dict1.items()  # items = keys + values

dict_items([('Name', 'Janet'), ('Country', 'United States'), ('Profession', ' United States secretary of the treasury'), ('Age', 74)])

## Conjunto (`set`)

La estructura de datos de conjunto (`set`) permite solo valores únicos. Para crear un conjunto (`set`), se crea una lista y luego `set()`:

In [ ]:
set1 = set([1, 2, 3, 4, 5, 5])
set1

{1, 2, 3, 4, 5}

In [ ]:
set2 = set([3, 4, 5, 6, 9, 9, 7])
set2

{3, 4, 5, 6, 7, 9}

Podemos aplicar operaciones de conjuntos:

* Todo los items que están en `set1` y `set2`:

In [ ]:
# union
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 9}

* Items que estén en `set1` y `set2`:

In [ ]:
# intersección
set1.intersection(set2)

{3, 4, 5}

* Items que estén en `set1` pero no en `set2`:

In [ ]:
set1.difference(set2)

{1, 2}

* Items que estén en `set2` pero no en `set1`:

In [ ]:
set2.difference(set1)

{6, 7, 9}

* Items que estén en `set1` o `set2` pero no en ambos:

In [ ]:
set1.symmetric_difference(set2)

{1, 2, 6, 7, 9}